* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #2b63c6, #5da9f6);
  min-height: 100vh;
}

/* MAIN WRAPPER */
.admin-wrapper {
  max-width: 1100px;
  margin: 60px auto;
  display: flex;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 25px 60px rgba(0,0,0,0.2);
}

/* LEFT */
.admin-left {
  flex: 1;
  background: linear-gradient(to bottom, #1e40af, #3b82f6);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-content {
  text-align: center;
}

.icon-box {
  font-size: 50px;
  margin-bottom: 20px;
}

.left-content h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.left-content p {
  font-size: 14px;
  opacity: 0.9;
}

/* RIGHT */
.admin-right {
  flex: 1;
  background: #f8fafc;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.login-card {
  width: 85%;
  background: #fff;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 20px 45px rgba(0,0,0,0.08);
  margin-top: 50px;
  margin-bottom: 50px;
}

.login-card h2 {
  color: #1e3a8a;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 14px;
  color: #64748b;
  margin-bottom: 25px;
}

/* INPUTS */
.input-group {
  margin-bottom: 18px;
}

.input-group label {
  font-size: 13px;
  color: #334155;
  margin-bottom: 6px;
  display: block;
}

.input-box {
  display: flex;
  align-items: center;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  padding: 10px;
  gap: 10px;
}

.input-box i {
  color: #2563eb;
}

.input-box input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
}

.show {
  font-size: 13px;
  color: #2563eb;
  cursor: pointer;
}

/* LINKS */
.forgot {
  display: block;
  margin: 10px 0 25px;
  font-size: 13px;
  color: #2563eb;
  text-decoration: none;
}

.forgot:hover {
  text-decoration: underline;
}

/* BUTTON */
.login-btn {
  width: 100%;
  padding: 12px;
  background: linear-gradient(to right, #2563eb, #1e40af);
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.login-btn:hover {
  transform: translateY(-2px);
}

/* NOTE */
.note {
  margin-top: 15px;
  font-size: 13px;
  text-align: center;
  color: #64748b;
}

/* FOOTER */
footer {
  text-align: center;
  color: #fff;
  font-size: 13px;
  margin-top: 20px;
}
footer .dev {
  display: block;
  margin-top: 6px;
  font-size: 13px;
  opacity: 0.9;
}


/* RESPONSIVE */
@media (max-width: 900px) {
  .admin-wrapper {
    flex-direction: column;
  }

  .admin-left {
    padding: 40px 20px;
  }
}
